html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px */
    scroll-behavior: smooth;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    background-color: #171717;
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.contenedor {
    width: min(90%, 80rem);
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    margin: 10rem 0 4rem;
    padding-bottom: 2rem;
    border-bottom: solid .3rem white;
}